@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small, h3, select {
    font-family: 'Londrina Solid', cursive;
}

.safetravels{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.index-content {
    display: flex;
    justify-content: space-between;
    background-color: #B7AFA3;
}

.index-main {
    display: flex;
    justify-content: space-around;
    background-color: #B7AFA3;
}