@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small, h3, select {
    font-family: 'Londrina Solid', cursive;
}

/* .safetravels{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
} */

.safetravels{
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    /* width: 100vw; */
    overflow: hidden;
    height: 100vh;
}

.index-content {
    display: flex;
    justify-content: space-between;
    background-color: #B7AFA3;
}

.index-main,
.restaurant-main,
.hotel-main,
.activity-main {
    display: grid;
    justify-content: space-around;
    background-color: #B7AFA3;
    grid-template-columns: repeat(5, 1fr);
    overflow: scroll;
}

.appTop{
    /* position: fixed; */
    /* top: 0; */
    /* width: 100%; */
    /* z-index: 100; */
    grid-row: 1 / 2;
    height: 100%;
}

.appMain{
    /* margin-top: 73px; */
    grid-row: 2 / 16;
    overflow: hidden;
    display: grid;
}

.authRoutes{
    height: 100%;
}


.appBot{
    /* position: fixed; */
    /* bottom: 0; */
    /* width: 100%; */
    /* z-index: 100; */
    bottom: 0;
    grid-row: 16 / 17;
}


/* .appTop{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.appMain{
    margin-top: 73px;
}

.theCar{
    width: 100%;
}

.appBot{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
} */