.footer-bar{
    background-color: #E8D0A9;
    flex: 1;
    box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.25);     
}

.copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

#copyright-text{
    color:skyblue;
    font-weight: bold;
    letter-spacing: 0.05rem;
    text-shadow: 2px 2px gray;
    padding-top: 2.5px;    
}