#image-content{
    height: 500px;
}

#description{
    text-align: center;
}

.splash-page{
    background-color: #B7AFA3;
    width: 100%;
}

.carousel-img{
    filter: blur(2.5px);
    -webkit-filter: blur(2.5px);    
}