.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid gray;    
}

.links{
    display: flex;
    margin: auto 2px;
}

.login-btn{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 7.5px;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid transparent;
    border-radius: 5px;
    letter-spacing: 0.075rem;     
}

.login-btn:first-child{
    margin-right: 5px;
}

#title{
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-weight: bold;
}

.loggedin-links{
    display: flex;
    margin: auto 2px;
}

.loggedin-btn{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 7.5px;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-right: 5px;
    letter-spacing: 0.075rem;        
}

.loggedin-btn.logout-btn{
    cursor: pointer;
}