.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 2px solid gray;
    background-color:#E8D0A9;
}

.links{
    display: flex;
    margin: auto 2px;
}

.login-btn{
    background-color: skyblue;
    color: #F5FAFA;
    text-decoration: none;
    padding: 7.5px;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid transparent;
    border-radius: 5px;
    letter-spacing: 0.075rem;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);           
}

.login-btn:hover{
    text-decoration: none;
    background-color: #F5FAFA;
    color: skyblue;
}

.login-btn:first-child{
    margin-right: 5px;
}

.login-btn:last-child{
    margin-left: 5px;
}

#title{
    text-decoration: none;
    color: skyblue;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    text-shadow: 2px 2px gray;
}

.loggedin-links{
    display: flex;
    margin: auto 2px;
}

.loggedin-btn{
    background-color: skyblue;
    color: #F5FAFA;
    text-decoration: none;
    padding: 7.5px;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-right: 5px;
    letter-spacing: 0.075rem;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);            
}

.loggedin-btn:hover{
    text-decoration: none;
    background-color: #F5FAFA;
    color: skyblue;        
}

.loggedin-btn.logout-btn{
    cursor: pointer;
}

.loggedin-btn.logout-btn:hover{
    cursor: pointer;
    background-color: #F5FAFA;
    color: skyblue;
}