.posts{
    display: inline-block;
    padding: 35px;
    margin: 15px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);        
}

#comment-submit{
    border: 1px solid;
    resize: none;
    width: 400px;
    height: 150px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);    
}

.comment-submit-btn{
    display: block;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 5px;
    letter-spacing: 0.075rem;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);           
}

.comment-submit-btn:hover{
    text-decoration: none;
    background-color: whitesmoke;
    color: #28a745;
}

li.post{
    border: 1px solid;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);    
}

.comment-btns{
    display: block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 4px;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 5px;
    letter-spacing: 0.075rem;
    margin: 2.5px 0 2.5px 0;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);           
}

.comment-btns.delete-btn{
    background-color: #dc3545;
    color: white;    
}

.comment-btns.delete-btn:hover{
    background-color: whitesmoke;
    color: #dc3545;    
}

.comment-btns.edit-btn{
    background-color: #ffc107;
    color: white;    
}

.comment-btns.edit-btn:hover{
    background-color: whitesmoke;
    color: #ffc107;    
}
