.session-form-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.session-form-container{
    width: 400px;
    height: 400px; 
    text-align: center;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
    border-radius: 5px;       
}

.signup-form-container-2{
    width: 400px;
    height: 575px; 
    text-align: center;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
    border-radius: 5px;       
}

.login-form-body input{
    margin: 15px 0 15px 0;
    padding: 7.5px 5px 7.5px 5px;
    width: 75%;
    font-size: 20px;
}

.signup-form-body input{
    margin: 15px 0 15px 0;
    padding: 7.5px 5px 7.5px 5px;
    width: 75%;
    font-size: 20px;
}

.errors-container{
    display: flex;
    justify-content: center;
}

.errors-list{
    list-style: none;
    padding: 0;
    width: 250px;
    font-weight: bold;
    border-radius: 5px;          
}

.errors-list li{
    background-color: firebrick;
    color: whitesmoke;
    border-radius: 5px;
    padding: 5px;     
    margin: 5px 0 5px 0;
    letter-spacing: 0.075rem;
}

.session-form-title{
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    margin: 10px 0 10px 0;
}

.session-input{
    background: whitesmoke;
    border: 1px solid gray;
    border-radius: 3px;
    text-align: left;
}

.session-submit{
    background: whitesmoke;
    border: 1px solid gray;
    border-radius: 3px;   
}